.DS_Store
ASM/.aspnet
ASM/.claude
ASM/.dotnet-cli-home
ASM/.idea
ASM/.local
ASM/.net-temp
ASM/.tmp
ASM/.nuget
ASM/.vscode
ASM/Library
ASM/reports
ASM/AppSettingsManager/.aspnet
ASM/AppSettingsManager/.dotnet-cli
ASM/AppSettingsManager/.dotnet-cli-home
ASM/AppSettingsManager/.local
ASM/AppSettingsManager/.nuget
ASM/AppSettingsManager/.tmp
ASM/AppSettingsManager/bin
ASM/AppSettingsManager/obj
ASM/AppSettingsManager/Library